[submodule "css"]
	path = css
	url = https://github.com/aysf/belajar-css.git
[submodule "JS"]
	path = JS
	url = https://github.com/aysf/belajar-js.git
[submodule "python"]
	path = python
	url = https://github.com/aysf/belajar-python.git
